svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
  circle(cx="16" cy="16" r="16" fill="white")
  circle(cx="8.84444" cy="21.2224" r="2.84444" fill="#383838")
  circle(cx="15.9555" cy="21.2224" r="2.84444" fill="#383838")
  circle(cx="12.4" cy="15.5329" r="2.84444" fill="#383838")
  circle(cx="19.5111" cy="15.5329" r="2.84444" fill="#383838")
  circle(cx="15.9555" cy="9.84444" r="2.84444" fill="#383838")
  circle(cx="23.0666" cy="21.2224" r="2.84444" fill="#383838")
