a.topnav__brand(href="/" alt="link to home page")
  .topnav__brand__logo
    span alxo
  if !device.isMobile
    .topnav__brand__description
      p Full Stack Developer
      p JS | TypeScript | GraphQL | AWS
