.navigation
  .navigation__container
    a.navigation__link(href="http://localhost:8160") HOME
    a.navigation__link(href="http://localhost:8160/contact") CONTACT
    a.navigation__link(href="http://localhost:8160/about") ABOUT
