nav.topnav
  .topnav__container
    include ./logo.pug
    .topnav__hamburger
      button.topnav__link
        include ./hamburger.pug
    if !device.isMobile
      .topnav__location Hello from Oakland, CA 🌲
