strong {
  font-weight: 500;
}

.about {
  @extend %center;
  @extend %page;
  @extend %cover;

  overflow: hidden;
  position: relative;
  z-index: z('content');
}

.about__wrapper {
  @extend %cover;
  padding: 7.2rem 4.8rem 4.8rem 4.8rem;

  @include media('<=tablet') {
    padding: 4.8rem 2.4rem 2.4rem 2.4rem;
  }

  display: flex;
  justify-content: center;
}

.about__content__wrapper {
  margin-top: 4.8rem;
}

.about__content__profesh {
  line-height: 1.3;

  @include media('>=desktop') {
    font-size: 1.8rem;
  }

  @include media('<desktop') {
    font-size: 1.6rem;
  }

  @include media('<tablet') {
    font-size: 1.2rem;
  }
}

.about__content__profesh a:link,
.about__content__profesh a:visited {
  color: blue;
}

.about__content__profesh a:hover,
.about__content__profesh a:active {
  color: darkblue;
}

.about__content__profesh h2 {
  font-weight: 500;
  margin-bottom: 1.2rem;

  @include media('>=desktop') {
    font-size: 3.2rem;
  }

  @include media('<desktop') {
    font-size: 2.8rem;
  }

  @include media('<=tablet') {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }
}

.about__content__sendskies {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media('>=desktop') {
    margin-bottom: 4.2rem;
  }

  @include media('<desktop') {
    margin-bottom: 1.8rem;
  }

  @include media('<=tablet') {
    margin-bottom: 1.6rem;
  }
}

.surf__clip {
  @include media('>=desktop') {
    width: 64rem;
  }

  @include media('<desktop') {
    width: 36rem;
  }

  @include media('<=tablet') {
    width: 32rem;
  }

  border-radius: 1.3rem;
}

.about__content__personal {
  line-height: 1.3;

  @include media('>=desktop') {
    font-size: 1.8rem;
  }

  @include media('<desktop') {
    font-size: 1.6rem;
  }

  @include media('<tablet') {
    font-size: 1.2rem;
  }
}
