.about {
  @extend %center;
  @extend %page;

  overflow: hidden;
  position: relative;
  z-index: z('content');
}

.about__swirly__boi {
  position: absolute;
  top: -16rem;
  left: -19rem;
}

.about__wrapper {
  @extend %cover;
  padding: 7.2rem 4.8rem 4.8rem 4.8rem;

  display: flex;
  justify-content: space-between;
}

.about__media {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 50%;
}

.about__title {
  font-family: $font-eckmannpsych;

  color: #321f41;
  font-size: 12.8rem;
  text-align: center;
}

.about__media__cards {
  position: relative;

  height: 100%;
}

.about__media__cards img:nth-child(1) {
  position: absolute;

  top: 2.4rem;
  rotate: -3.14deg;
}

.about__media__cards img:nth-child(2) {
  position: absolute;

  top: 12.8rem;
  left: 42rem;
  rotate: 3.14deg;
}

.about__media__card {
  height: 47.4rem;
  width: 34.4rem;

  border-radius: 1.3rem;
}

.about__content__wrapper {
  width: 72rem;
  margin-top: 4.8rem;
}

.about__content__profesh {
  margin-bottom: 3.6rem;
}

.about__content__profesh h2 {
  font-size: 2.4rem;
  font-weight: 500;

  margin-bottom: 1.2rem;
}

.about__content__sendskies {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 3.6rem;
}

.about__content__personal h2 {
  font-size: 2.4rem;
  font-weight: 500;

  margin-bottom: 1.2rem;
}

.surf__clip {
  height: 30.8rem;
  width: 56.8rem;

  border-radius: 1.3rem;
}

.about__cta {
  display: flex;
  align-items: center;

  margin-left: 6.4rem;
}

.about__cta--text {
  font-size: 3.2rem;
  width: 40rem;
}

.about__cta--arrow {
  margin-right: 2.4rem;
}

.about__cta--link {
  font-size: 2.4rem;
  color: #053848;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  height: 14.8rem;
  width: 14.8rem;
  background: #c5f1ff;
}
