$font-atkinson: 'Atkinson Hyperlegible';
$font-eckmannpsych: 'Eckmannpsych Small';

$z-indexes: (
  'topnav',
  'navigation',
  'content',
  'canvas',
  'p1',
  'p2',
  'p3',
  'p4',
  'p5',
  'p6'
);

$main-card-height: calc(2 / 3 * 100vh);
$main-card-width: $main-card-height * 0.72;
