$font-atkinson: 'Atkinson Hyperlegible';
$font-eckmannpsych: 'Eckmannpsych Small';

$z-indexes: (
  'topnav',
  'navigation',
  'content',
  'canvas',
  'p1',
  'p2',
  'p3',
  'p4',
  'p5',
  'p6'
);

$main-card-height: calc(5 / 9 * 100vh);
$main-card-width: $main-card-height * 0.72;
$main-card-left: calc(50vw - $main-card-width);

$smooth-bezier: all 200ms cubic-bezier(0.62, 0.16, 0.13, 1.01);
