extends ../base.pug

block variables
  - var template = 'fourohfour'

block content
  .fourohfour()
    .fourohfour__wrapper
      .fourohfour__header 404
      .fourohfour__message Oops, I "donut" have a page for you here.
