extends ../base.pug

block variables
  - var template = 'fourohfour'

block content
  .fourohfour()
    .fourohfour__wrapper
      .fourohfour__header 404
      .fourohfour__message I "donut" think you're gonna find what you're looking for here.
