extends ../base.pug

block variables
  - const template = 'about'

block content
  .about()
    svg.about__swirly__boi(width="1100" height="1100" viewBox="0 0 1187 1190" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M893.025 652.447C791.793 831.099 845.049 868.853 567.866 853.622C420.176 820.88 325.45 681.567 358.192 533.877C389.493 282.961 537.203 293.004 684.893 325.746C867.293 366.183 925.767 504.757 893.025 652.447Z" fill="#E6C5FF")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M264.136 382.614C290.795 292.339 308.22 233.328 449.097 191.818C643.178 134.631 830.961 194.219 897.98 254.387C908.445 263.782 917.935 271.485 926.559 278.484C973.162 316.308 994.461 333.595 1007.54 486.496C1023.04 667.691 1013.45 927.203 936.971 957.613C930.672 960.118 924.851 962.479 919.382 964.698C858.456 989.415 841.242 996.399 693.695 986.238C646.843 983.012 606.405 981.943 571.092 981.009C485.214 978.739 429.64 977.269 385.812 947.525C323.962 905.549 234.906 749.805 234.906 749.805C234.906 749.805 150.429 658.624 222.835 499.016C242.684 455.262 254.069 416.708 264.136 382.614ZM348.764 429.006C369.344 359.305 382.797 313.743 491.604 281.708C641.505 237.575 799.273 280.93 851.045 327.395C854.496 330.493 857.758 333.378 860.843 336.108C904.039 374.326 912.684 381.975 923.877 512.557C935.868 652.466 919.05 826.678 859.985 850.15C847.572 855.082 838.535 859.41 830.85 863.091C801.964 876.926 792.179 881.612 694.083 874.845C642.725 871.301 599.046 874.584 562.098 877.36C509.696 881.298 470.834 884.219 442.814 865.206C395.036 832.788 326.23 712.522 326.23 712.522C326.23 712.522 260.97 642.109 316.877 518.879C332.203 485.097 340.992 455.33 348.764 429.006Z" fill="#E6C5FF")
      path( fill-rule="evenodd" clip-rule="evenodd" d="M102.159 309.442C140.72 178.86 165.926 93.5014 369.703 33.457C650.44 -49.2642 922.068 36.9303 1019.01 123.962C1034.15 137.552 1047.87 148.694 1060.35 158.819C1127.76 213.531 1158.57 238.536 1177.49 459.706C1199.9 721.804 1186.03 1097.19 1075.41 1141.18C1066.3 1144.8 1057.88 1148.21 1049.97 1151.42C961.839 1187.18 936.939 1197.28 723.513 1182.58C655.742 1177.91 597.249 1176.37 546.168 1175.02C421.946 1171.73 341.559 1169.61 278.163 1126.58C188.696 1065.86 59.8768 840.582 59.8768 840.582C59.8768 840.582 -62.318 708.69 42.4164 477.817C71.1279 414.527 87.5958 358.759 102.159 309.442ZM226.795 372.681C256.825 270.991 276.454 204.52 435.128 157.755C653.728 93.3287 883.776 156.532 959.257 224.303C964.289 228.821 969.044 233.03 973.542 237.011C1036.52 292.753 1049.13 303.909 1065.41 494.406C1082.85 698.508 1058.28 952.661 972.144 986.92C954.043 994.119 940.863 1000.44 929.655 1005.81C887.53 1026 873.259 1032.84 730.216 1022.99C655.327 1017.84 591.632 1022.64 537.753 1026.7C461.339 1032.46 404.669 1036.73 363.814 1009C294.153 961.724 193.854 786.295 193.854 786.295C193.854 786.295 98.7113 683.591 180.271 503.801C202.629 454.514 215.454 411.086 226.795 372.681Z" fill="#E6C5FF")

    .about__wrapper
      .about__media
        .about__media__cards
          img.about__media__card(src="https://s3-alpha-sig.figma.com/img/8592/9942/f5d829bf79c06dd13b5a89699dfb2a26?Expires=1692576000&Signature=Yom2vB7Gh8Iv8ocyhdL0oe~u2TBrz9cGUignChTxAqgQzCxwsCpCP80~wq8iZatZtodIm-ecuntsq0zKvp~a976UwtTqKmlCkH1DQ78cNqkr-Du9zTSIpT7QwVS1U5NEGL4ZUwAGYgYmZCgPryVqKcNMBDVMSctzlC1DtBKYsaql-0roQOMgrlj3vD~jn3IUyV0BgFsyoF8ezHZ7Z7ImBWHEX826kRH6g2zIIsicoA7StDsS-OLVbPGXEBA73xjZ0OrHhfQ0QnoAWC~srOo985L7qOI-xKeEXOjHIz~w2cP8lRJHYFrQ-nRm0xD0ENU5WVLHXtSRZW0F9B14A58E6w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4")
          img.about__media__card(src="https://s3-alpha-sig.figma.com/img/ef1c/8b7a/e5c9680ebe8afaa3e525a056409c51a6?Expires=1692576000&Signature=oMkqFSZwAgWmvDSy6EbFFWHeQ-mapjzzANQOF9fEDgQnZXge1ICS6kpBqQ2zmpYXvzbuD5gYFO203VlpYV09CoajWEHqmJAnJM7LwxjUDfvbxtJV0AQ2my~FptoGnmKF-7AcqPyl4I~nd5P9lWZ4skbCduNxm8BmK2JcZzXXOU5hkc-hLzu-H8w3sm59i8uwRYI-JNTdLLGa8UIiacF1W8a0HHpbIqv302kSUw~zAf9m~OdMXfTtvPmqh~N5l2TWtk8qQS65GVeVqTVWes0ANjwQj8L6DQVuRxAZVuE3fW31SAm7bhHuZlQVJDWA6oVsOD6FFvVfWbrMgFPXzpRDeg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4")
        .about__title About
      .about__content__wrapper
        .about__content__profesh
          h2 Hiyo, I'm Alex O.
          p I'm a <strong>Full Stack Software Developer</strong> fluent in <strong>JavaScript & TypeScript</strong>. I love building beautiful, intuitive User Interfaces (UIs) and scsalable services in the cloud.
          br
          ul
            li Shipped back- and front-end code for products used by 100s of events and 100s of thousands of attendees (see: Coachella & Outside Lands).
            br
            li Developed analytics app using Python, Django, and Facebook's Ads API to guide the allocaiton of >$8MM in ad spend and >1Bn ad impressions for a household name in the gaming and toy industry (NDA).
        .about__content__sendskies
          img.surf__clip(src="https://s3-alpha-sig.figma.com/img/a1d2/a093/f6a9c527911f99c481ad1d11d09b1a7a?Expires=1692576000&Signature=m~rurNfkyfi63YdgU5YqMpXoT6j36xCZpFy-gzkDERiikRb26crc39HlC-BYYsA02dXcyiCSmEt7lf6LKBQ9yvn~EPfLn-g-FIi5-lH1U6vEebySZZVCSp6LUdJHrYLSTo9tpmRKJA4NamABV4AfEc8Z0cFcVf4CVOirqIk42tkOsxVqK8onWga0smY420CWH4y1NuUFEpWo1Yk~c9C5VMN8Ho5CM42oaAe5EdqxkHO2hn6u9~a6rf33AMaCFGrOMa3EjtPQWWcNFkWBPtaJG0jjG2bxlZ0AVSYrS4kpIzGjoRXoRj-S2n2JCkZV-Q9xKdEA0cbbnOAbJg-PPOEwVQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4")
        .about__content__personal
          h2 After a hard day's night
          p When I’m not reading documentation or building cool apps with smart people, you’ll catch me climbing, surfing (above: me leaping at a chance to work together!), or cooking Trader Joe’s veggie gyoza 🥟
          br
          p Recently, I’ve gotten into making ~ veganized ~ Korean dishes* and backpacking. Pictured on the left next you’ll see my fiancee and me on half dome summit after starting the hike at 4am.
          br
          p *See: ‘The Korean Vegan Cookbook’ by Joanne Lee Molinaro
        .about__cta
          .about__cta--text Want to work together? Message me about food 🌮
          svg.about__cta--arrow(width="52" height="24" viewBox="0 0 52 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM51.0607 13.0607C51.6464 12.4749 51.6464 11.5251 51.0607 10.9393L41.5147 1.3934C40.9289 0.807611 39.9792 0.807611 39.3934 1.3934C38.8076 1.97919 38.8076 2.92893 39.3934 3.51472L47.8787 12L39.3934 20.4853C38.8076 21.0711 38.8076 22.0208 39.3934 22.6066C39.9792 23.1924 40.9289 23.1924 41.5147 22.6066L51.0607 13.0607ZM2 13.5H50V10.5H2V13.5Z" fill="black")
          a.about__cta--link(href="/contact") CONTACT
