extends ../base.pug

block variables
  - const template = 'contact'

block content
  .contact()
    .contact__wrapper
      .contact__heading
        if !device.isMobile
          span.handwave 👋
          span Say
          span hello
          span .
        if device.isMobile
          span Say
          span
            p.handwave 👋
            p.special__boi hello.
          .contact__divider
      .contact__cta
        svg.contact__cta__text__bar(width="8" height="100%" viewBox="0 0 8 410" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M4 406.005L4 3.99989" stroke="black" stroke-width="7" stroke-linecap="round")
        .contact__cta__text__container
          if device.isMobile
            .contact__cta__text--line1
              span Message me here
              a.linkedin__cta__link(href="https://www.linkedin.com/in/alxo/" target="_blank") LINKEDIN
            .contact__cta__text--line2
              span Or email me there
              a.email__cta__link(href="mailto:alirezaownejazayeri@gmail.com") EMAIL
          else
            .contact__cta__text--line1
              span It's easy -
            .contact__cta__text--line2
              span Email here
              include ../partials/cta-arrow-icon.pug
              a.email__cta__link(href="mailto:alirezaownejazayeri@gmail.com") EMAIL
            .contact__cta__text--line3
              span Or message there
              include ../partials/cta-arrow-icon.pug
              a.linkedin__cta__link(href="https://www.linkedin.com/in/alxo/" target="_blank") LINKEDIN
