extends ../base.pug

block variables
  - const template = 'home'

block content
  .home()
    .home__wrapper
      if !userDevice.isMobile
        .home__projects__info
          .home__projects__info--title
          include ../partials/info-line.pug
          .home__projects__info--number

        .home__projects__media
          .home__projects__media--card1#p1
            img().project__card__image
          .home__projects__media--card2#p2
            img().project__card__image
          .home__projects__media--card3#p3
            img().project__card__image
          .home__projects__media--card4#p4
            img().project__card__image
          .home__projects__media--card5#p5
            img().project__card__image
          .home__projects__media--card6#p6
            img().project__card__image

        .home__project__details
          .home__project__overview
            .home__project__overview--heading Overview
            .home__project__overview--description
            .home__project__overview__links--heading Links
            .home__project__overview__links--url
              include ../partials/url-icon.pug
              a.home__project__overview__links--url--link(href="#" alt="Link to project content" target="_blank")

            .home__project__overview__links--github
              include ../partials/github-icon.pug
              a.home__project__overview__links--url--link(href="#" alt="Project GitHub link" target="_blank")


          .home__project__technologies
            .home__project__technologies__header
              .home__project__technologies__header--heading Technologies Used
            table.home__project__technologies--table
              tr.home__project__technologies--table--row#frontend-row
                td Frontend

              tr.home__project__technologies--table--row#backend-row
                td Backend

        .home__project__help
          p Explore selected works by mousing over the orbs above.


      //- MOBILE VIEW
      if userDevice.isMobile
        .home__mobile__professional__info
          .home__mobile__professional__info--full-stack Full Stack
          .home__mobile__professional__info--title.special__boi Developer
          .home__mobile__professional__info--skills JavaScript | TypeScript | GraphQL | AWS
          .home__mobile__blob__container
            include ../partials/slorbie.pug

        .home__mobile__project__container
          .home__mobile__progress__indicator
          .home__mobile__project__title
          .home__mobile__project__pagination
            .home__mobile__project__pagination--page1 01.
            .home__mobile__project__pagination--page2 02.
            .home__mobile__project__pagination--page3 03.
            .home__mobile__project__pagination--page4 04.
            .home__mobile__project__pagination--page5 05.
            .home__mobile__project__pagination--page6 06.
          .home__mobile__project__overview
            .home__mobile__project__overview--title OVERVIEW
            .home__mobile__project__overview--description
          .home__mobile__project__media
            img.home__mobile__project__media--content
          .home__mobile__project__cta
            //- a.home__mobile__projects__cta--code(target="_blank") Github
            a.home__mobile__projects__cta--link(target="_blank") Info

        .home__mobile__scroll__indicator
          include ../partials/scroll.pug
