extends ../base.pug

block variables
  - var template = 'projects'

block content
  .projects()
    .projects__wrapper
      .projects__search__filter
        input.projects__search__bar(type="search")

      .projects__grid
