.contact {
  @extend %center;
  @extend %page;

  overflow: hidden;
}

.contact__wrapper {
  @extend %cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media('>phone') {
    padding: 7.2rem 4.8rem 4.8rem 4.8rem;
  }

  @include media('<=phone') {
    padding: 0rem 2.4rem 2.4rem 2.4rem;
  }

  z-index: z('content');
}

.contact__heading {
  display: flex;

  @include media('>=desktop') {
    font-size: 25.6rem;
    justify-content: flex-end;
    margin-top: 7.2rem;
  }

  @include media('<desktop') {
    font-size: 18rem;
    justify-content: flex-end;
    margin-top: 7.2rem;
  }

  @include media('<=phone') {
    font-size: 8rem;
    font-weight: 500;
    flex-direction: column;
  }
}

.special__boi {
  background: #ca6eff;
  background: linear-gradient(to right, #ca6eff 0%, #8ce4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1.5rem;
}

.contact__heading span:nth-child(1) {
  display: flex;

  @include media('>phone') {
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    margin-right: 7.2rem;
  }

  @include media('<=phone') {
    justify-content: flex-start;
    margin-bottom: 2.5rem;
  }
}

.contact__divider {
  width: 19rem;
  height: 1.2rem;
  margin-right: 1.8rem;
  background: black;
  align-self: flex-end;
}

.contact__heading span:nth-child(2) {
  display: flex;
  @include media('>phone') {
    margin-right: 4.8rem;
  }

  @include media('<=phone') {
    justify-content: flex-end;
  }
}

.contact__heading span:nth-child(3) {
  @include media('>phone') {
    text-decoration: underline;
  }
}

.contact__cta {
  display: flex;
  align-items: flex-end;
  width: 100%;

  @include media('>=desktop') {
    height: 42rem;
  }

  @include media('<desktop') {
    height: 30rem;
  }

  @include media('>phone', '<=tablet') {
    height: 36rem;
  }

  @include media('<=phone') {
    height: 25.6rem;
  }
}

.contact__cta__text__bar {
  @include media('>phone') {
    margin-right: 4.2rem;
  }

  @include media('<=phone') {
    margin-right: 1.2rem;
  }
}

.contact__cta__text--arrow {
  margin-right: 4.2rem;
}

.contact__cta__text__container {
  font-size: 12.8rem;
  display: flex;
  flex-direction: column;

  @include media('>=desktop') {
    font-size: 12.8rem;
  }

  @include media('<desktop') {
    font-size: 8rem;
  }

  @include media('<=phone') {
    font-size: 3.2rem;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
}

.contact__cta__text--line1 {
  @include media('<=phone') {
    width: 100%;
  }
}

.contact__cta__text--line2 {
  @include media('>phone') {
    display: flex;
    align-items: center;
  }
}

.contact__cta__text--line2 span {
  @include media('>phone') {
    margin-right: 4.8rem;
  }

  @include media('<=phone') {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}

.contact__cta__text--line3 {
  display: flex;
  align-items: center;
}

.contact__cta__text--line3 span {
  margin-right: 4.8rem;
}

.email__cta__link {
  @extend %smooth-bezier;
  color: #2d173e;
  background: #cc8bff;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  @include media('>=desktop') {
    font-size: 2.4rem;
    height: 14.8rem;
    width: 14.8rem;
  }

  @include media('<desktop') {
    font-size: 1.8rem;
    height: 10rem;
    width: 10rem;
  }

  @include media('<=phone') {
    width: 100%;
    height: 6.4rem;
    border-radius: 1.3rem;
    font-weight: 500;
    margin-top: 1.2rem;
  }
}

.email__cta__link:hover,
.email__cta__link:active {
  background: #bf6cff;
  @include media('>tablet') {
    transform: scale(1.2);
  }
}

.linkedin__cta__link {
  @extend %smooth-bezier;
  font-size: 2.4rem;
  color: #053848;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background: #c5f1ff;

  @include media('<desktop') {
    font-size: 1.8rem;
    height: 10rem;
    min-width: 10rem;
  }

  @include media('>=desktop') {
    font-size: 2.4rem;
    height: 14.8rem;
    width: 14.8rem;
  }

  @include media('<=phone') {
    width: 100%;
    height: 6.4rem;
    border-radius: 1.3rem;
    font-weight: 500;
    margin-top: 1.2rem;
  }
}

.linkedin__cta__link:hover,
.linkedin__cta__link:active {
  background: #6adcff;
  @include media('>tablet') {
    transform: scale(1.2);
  }
}
