.home {
  @extend %center;
  @extend %page;

  overflow: hidden;
  position: relative;
}

.home__wrapper {
  @extend %cover;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  @include media('>=tablet') {
    padding: 7.2rem 4.8rem 4.8rem 4.8rem;
  }

  @include media('>=desktop') {
    padding: 7.2rem 6.4rem 10rem 6.4rem;
  }

  @include media('<=phone') {
    padding: 8rem 2.4rem 2.4rem 2.4rem;
  }

  z-index: z('content');

  position: relative;
}

.home__projects__info {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;

  @include media('<desktop') {
    margin-top: 3.4rem;
    width: 48.5vw;
  }

  @include media('>=desktop') {
    margin-top: 8.2rem;
    width: 48.2vw;
  }

  align-items: baseline;

  padding: 0 1.6rem;
  z-index: inherit;
}

.home__projects__info--title {
  font-weight: 600;
  font-size: 7.2rem;
  width: 31rem;

  @include media('<desktop') {
    font-size: 4.2rem;
  }
}

.home__projects__info--line {
  fill: #dcdcdc;
  margin-right: 1.6rem;
}

.home__projects__info--number {
  margin-right: 1.6rem;

  @include media('<desktop') {
    font-size: 2rem;
    min-width: 5.2rem;
    min-height: 5.2rem;
  }

  @include media('>=desktop') {
    font-size: 2.4rem;
    min-width: 7.2rem;
    min-height: 7.2rem;
  }

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 5rem;

  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.home__projects__media {
  position: fixed;
  height: 62rem;
  width: 85rem;

  @include media('<desktop') {
    top: 10.5rem;
  }

  @include media('>=desktop') {
    top: 15.5rem;
  }
}

.home__projects__media--card1 {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  font-size: 10rem;

  @include media('<desktop') {
    height: $main-card-height;
    width: $main-card-width;
  }

  @include media('>=desktop') {
    height: $main-card-height * 1.1;
    width: $main-card-width * 1.1;
  }

  left: $main-card-left;
  position: absolute;

  transition: all 100ms cubic-bezier(0.62, 0.16, 0.13, 1.01),
    z-index 50ms cubic-bezier(0.62, 0.16, 0.13, 1.01);

  background: #ebebeb;
  border-radius: 0.7rem;
  z-index: z('p1');
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home__projects__media--card1:hover {
  @include media('<desktop') {
    transform: scale(1.05);
  }

  transform: scale(1.1);
  box-shadow: -6px 8px 20px 0px rgba(0, 0, 0, 0.3);
}

.home__projects__media--card2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10rem;

  @include media('<desktop') {
    height: $main-card-height * 0.96;
    width: $main-card-width * 0.96;
  }

  @include media('>=desktop') {
    height: $main-card-height * 1.1 * 0.96;
    width: $main-card-width * 1.1 * 0.96;
  }

  position: absolute;

  transition: 250ms cubic-bezier(0.62, 0.16, 0.13, 1.01);

  top: 1.5rem;
  left: calc($main-card-left * 0.8);

  background: #ebebeb;
  border-radius: 0.7rem;
  z-index: z('p2');
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home__projects__media--card3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10rem;

  @include media('<desktop') {
    height: calc($main-card-height * 0.96 * 0.96);
    width: calc($main-card-width * 0.96 * 0.96);
  }

  @include media('>=desktop') {
    height: calc($main-card-height * 1.1 * 0.96 * 0.96);
    width: calc($main-card-width * 1.1 * 0.96);
  }

  position: absolute;
  transition: 250ms cubic-bezier(0.62, 0.16, 0.13, 1.01);

  top: 2.5rem;
  left: calc($main-card-left * 0.7);

  background: #ebebeb;
  border-radius: 0.7rem;
  z-index: z('p3');
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home__projects__media--card4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  @include media('<desktop') {
    height: calc($main-card-height * 0.96 * 0.96 * 0.96);
    width: calc($main-card-width * 0.96);
  }

  @include media('>=desktop') {
    height: calc($main-card-height * 1.1 * 0.96 * 0.96 * 0.96);
    width: calc($main-card-width * 1.1 * 0.96);
  }

  position: absolute;

  transition: 250ms cubic-bezier(0.62, 0.16, 0.13, 1.01);

  top: 3.5rem;
  left: calc($main-card-left * 0.6);

  background: #ebebeb;
  border-radius: 0.7rem;
  z-index: z('p4');
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home__projects__media--card5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  @include media('<desktop') {
    height: calc($main-card-height * 0.96 * 0.96 * 0.96 * 0.96);
    width: calc($main-card-width * 0.96);
  }

  @include media('>=desktop') {
    height: calc($main-card-height * 1.1 * 0.96 * 0.96 * 0.96 * 0.96);
    width: calc($main-card-width * 1.1 * 0.96);
  }

  position: absolute;

  transition: 250ms cubic-bezier(0.62, 0.16, 0.13, 1.01);
  transition: z-index 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55);

  top: 4.5rem;
  left: calc($main-card-left * 0.5);

  background: #ebebeb;
  border-radius: 0.7rem;
  z-index: z('p5');
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home__projects__media--card6 {
  @extend %smooth-bezier;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10rem;

  @include media('<desktop') {
    height: calc($main-card-height * 0.96 * 0.96 * 0.96 * 0.96 * 0.96);
    width: calc($main-card-width * 0.96);
  }

  @include media('>=desktop') {
    height: calc($main-card-height * 1.1 * 0.96 * 0.96 * 0.96 * 0.96 * 0.96);
    width: calc($main-card-width * 1.1 * 0.96);
  }

  transition: top 250ms cubic-bezier(0.62, 0.16, 0.13, 1.01);

  position: absolute;

  top: 5.5rem;
  left: calc($main-card-left * 0.4);

  background: #ebebeb;
  border-radius: 0.7rem;
  z-index: z('p6');
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home__project__details {
  display: flex;

  justify-content: space-between;
  height: 14.5rem;
  width: 100%;
  z-index: inherit;
}

.home__project__overview {
  display: flex;

  flex-direction: column;
  align-items: flex-start;

  max-width: 38.6rem;

  @include media('>=desktop') {
    max-width: 64rem;
    padding-left: 10rem;
  }

  text-align: left;
  z-index: inherit;
}

.home__project__overview--heading {
  font-size: 3.2rem;
  font-weight: 500;

  margin-bottom: 1rem;

  @include media('>=desktop') {
    font-size: 4.8rem;
  }
}

.home__project__overview--description {
  margin-bottom: 1.2rem;
  @include media('>=desktop') {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }
}

.home__project__overview__links--heading {
  font-size: 1.6rem;
  font-weight: 500;

  @include media('>=desktop') {
    font-size: 2.4rem;
  }
  margin-bottom: 0.4rem;
}

.home__project__overview__links--url {
  display: flex;
  align-items: center;

  @include media('>=desktop') {
    font-size: 1.8rem;
  }

  margin-bottom: 0.4rem;
}

.home__project__overview__links--url--icon {
  margin-right: 1rem;
  fill: #383838;

  @include media('>=desktop') {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.home__project__overview__links--url--link {
  color: #0048ffde;

  &:hover {
    color: #0048ff;
  }
}

.home__project__overview__links--github {
  display: flex;
  align-items: center;

  @include media('>=desktop') {
    font-size: 1.8rem;
  }
}

.home__project__overview__links--github--icon {
  margin-right: 1rem;
  fill: #383838;

  @include media('>=desktop') {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.home__project__overview__links--url--link {
  color: #0048ffde;

  &:hover {
    color: #0048ff;
  }
}

/*
  Section: helper
  TODO(alex): think of a good way to handle this.
*/
// .home__project__help {
//   display: flex;
//   flex-direction: column;

//   height: 100%;

//   justify-content: flex-end;
//   align-items: center;
//   text-align: center;
//   max-width: 22rem;
// }

// .home__project__help svg {
//   height: 6.4rem;
//   width: 6.4rem;
// }

/*
  Section: Technologies
*/

.home__project__technologies {
  min-width: 66.8rem;
}

.home__project__technologies__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 1rem;
}

.home__project__technologies__header--heading {
  font-size: 3.2rem;
  font-weight: 500;

  @include media('>=desktop') {
    font-size: 4.8rem;
  }
}

.home__project__technologies__header--all--projects {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  min-height: 3.2rem;

  color: #232323;

  &:hover {
    color: #000;
  }
}

.home__project__technologies__header--all--projects--text {
  font-size: 1.6rem;
}

.home__project__technologies--table {
  border-collapse: separate !important;

  height: 9.6rem;
  width: 100%;

  border: 1px solid black;
  border-radius: 0.7rem;

  @include media('>=desktop') {
    height: 12.8rem;
  }
}

.home__project__technologies--table tr:nth-child(1) {
  border-bottom: 1px solid black;
}

.home__project__technologies--table--row {
  width: 100%;
  height: 50%;

  display: flex;
  align-items: center;
  padding: 0 0.8rem;
}

.home__project__technologies--table--row td {
  margin-right: 1.6rem;
  justify-content: center;
}

.home__project__technologies--table--row td:nth-child(1) {
  display: flex;
  align-items: center;

  font-size: 1.4rem;
  font-weight: 500;

  @include media('>=desktop') {
    font-size: 1.8rem;
  }

  min-width: 7.8rem;
  width: 7.8rem;
  height: 100%;
  padding-right: 0.8rem;
  border-right: 1px solid #000;
}

.badge {
  text-align: center;
  color: #5210a5;
  background: #f5eeff;
  border: 1px solid #cc8bff;

  height: 2.8rem;
  padding: 0 1.6rem;

  border-radius: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home__mobile__progress__indicator {
  position: absolute;
  left: 0;
  top: 5.6rem;

  height: 0.6rem;
  background: #ab64e1;
}

.home__mobile__professional__info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home__mobile__professional__info--full-stack {
  font-size: 6.4rem;
  font-weight: 500;
}

.home__mobile__professional__info--title {
  font-size: 6.4rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.home__mobile__professional__info--skills {
  font-size: 1.8rem;
}

.home__mobile__blob__container {
  display: flex;
  justify-content: center;
  z-index: 0;
}

.home__mobile__blob__container svg {
  transform: scale(0.9);
}

.home__mobile__scroll__indicator {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.home__mobile__project__container {
  @extend %cover;

  display: flex;
  flex-direction: column;
  background: #fff;
  opacity: 0;

  padding: 8rem 2.4rem 2.4rem 2.4rem;
}

.home__mobile__project__title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
}

.home__mobile__project__pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 4.8rem;

  margin-bottom: 2.4rem;
}

.home__mobile__project__pagination * {
  @extend %smooth-bezier;

  color: #383838;
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  width: 3.2rem;

  border-radius: 50%;
  border: 1px solid #dcdcdc;

  margin-right: 0.8rem;
}

.home__mobile__project__overview {
  display: flex;
  flex-direction: column;

  height: 9.4rem;
  width: 100%;
}

.home__mobile__project__overview--title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.home__mobile__project__overview--description {
  font-size: 1.6rem;
}

.home__mobile__project__video {
  display: flex;
  min-width: 32.7rem;
  min-height: 18.4rem;
  object-fit: contain;
  padding: 1.4rem 0;
}

.home__mobile__project__video--content {
  width: 100%;
  border-radius: 1.3rem;
}

.home__mobile__project__cta {
  width: 100%;
  height: 4.8rem;

  display: flex;
  justify-content: space-evenly;
}

.home__mobile__projects__cta--code {
  width: 15.4rem;
  margin-right: 0.8rem;
  border-radius: 0.7rem;
  font-weight: 500;
  font-size: 1.8rem;

  background: #c5f1ff;
  color: #053848;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home__mobile__projects__cta--link {
  width: 15.4rem;
  margin-right: 0.8rem;
  border-radius: 0.7rem;
  font-weight: 500;
  font-size: 1.8rem;

  background: #ca6eff;
  color: #2d173e;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home__mobile__project__pagination--active {
  transform: scale(1.5);
  @extend %smooth-bezier;
  margin-right: 1.4rem;
  margin-left: 0.8rem;

  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
}

.home__mobile__project__pagination--viewed {
  @extend %smooth-bezier;

  background: #b0ff8b;
  border: none;
}

.project__card__video__clip {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 1.3rem;
}
